* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.2em;
}
body {
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container, #overlay {
    width: 400px;
    height: 400px;
}
#container {
    position: relative;
    overflow: hidden;
}
#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    transition: top 0.5s;
    position: absolute;
    top: 400px;
}
#container:hover > #overlay {
    top: 0;
}